@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

button, a {
  cursor: pointer;
  transition: all 500ms;
}

button:hover, a:hover {
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
}

/* HEADER */

header {
  background-color: #4D5EBA;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: 72px;
  padding: 20px 80px;
  gap: 12px;
}

@media screen and (max-width: 500px) {
  header {
    padding: 20px 40px;
  }
}

header h1 {
  font-size: 20px;
  font-weight: 600;
  color: #FAFAFA;
}

header .menu-buttons-container {
  gap: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .menu-buttons {
  color: #FAFAFA;
  font-weight: 500;
  background-color: #4D5EBA;
  cursor: pointer;
  padding: 12px 24px;
  border-radius: 8px;
  width: fit-content;
  font-size: 16px;
}


header .menu-buttons a {
  color: #FAFAFA;
}

header .menu-buttons:hover {
  background-color: #414e98;
}

header .menu-buttons.active {
  color: #2F45BA;
  background-color: #FAFAFA;
}

header .menu-buttons.active:hover {
  background-color: #e4e4e4;
}

/* FOOTER */

footer {
  background-color: #7785D5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 24px;
  padding: 32px 80px;
  color: #FAFAFA;
}

@media screen and (max-width: 500px) {
  footer {
    padding: 32px 40px;
  }
}

footer .info-container h2, footer p, footer .devs-container h2, footer .devs p {
  font-size: 14px;
  margin-bottom: 12px;
}

footer .devs-container {
  display: flex;
  flex-direction: column;
}

footer .devs-list {
  display: flex; 
  column-gap: 32px;
  flex-wrap: wrap;
}

footer .dev {
  display: flex;
  gap: 12px;
}

footer .dev a img:hover {
  opacity: 80%;
}

/* SIMULATOR */

.simulator {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  background-color: #A0ACE9;
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.project-container, .plane-container {
  min-width: 70%;
  background-color: #fff;
  display: flex;
  gap: 32px;
  justify-content: space-around;
  padding: 32px;
  border-radius: 16px;
}

@media screen and (min-width: 1200px) {
  .project-container, .plane-container {
    min-width: 900px;
    max-width: 900px;
  }
}

.project-container {
  max-width: 900px;
}

@media screen and (max-width: 1100px) {
  .project-container, .plane-container {
    flex-direction: column;
  }
}

@media screen and (max-width: 600px) {
  .project-container, .plane-container {
    display: none;
  }
}

.not-available {
  display: none;
}

@media screen and (max-width: 600px) {
  .not-available {
    display: block;
    background-color: white;
    padding: 40px;
    border-radius: 16px;
    text-align: center;
  }
}

.graphic-img, .plane-graphic-img {
  display: flex;
  justify-content: space-between;
  border-radius: 12px;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.146);
  padding: 12px;
  position: relative;
  width: 100%;
}

.plane-graphic-img {
  overflow: hidden;
}

.graphic-img-canvas {
  display: flex;
  align-items: end;
  justify-content: center;
  padding: 25px;
}

.graph-container {
  position: relative;
  width: 400px;
  height: 90%;
  display: flex;
}

.x-axis, .y-axis {
  position: absolute;
  background-color: #000;
}

.x-axis {
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
}

.x-axis::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 10px solid #000;
  top: -3px;
  right: -10px;
}

.y-axis {
  width: 2px;
  height: 100%;
  top: 0;
  left: 0;
}

.y-axis::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid #000;
  top: -10px;
  left: -4px;
}

.y-label {
  position: absolute;
  top: -0px;
  left: 15px;
  font-weight: bold;
  font-size: 16px;
}

.x-label {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-weight: bold;
  font-size: 16px;
}

#canvas {
  width: 99%;
}

.results, .results-plane {
  position: absolute;
  top: 12px;
  right: 12px;
  padding: 8px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 4px;
  z-index: 50;
}

.results span {
  font-size: 12px;
}

.results p {
  font-size: 13px;
}

.results-plane p {
  font-size: 10px;
}

.results-info-plane p {
  margin-bottom: 6px;
}

.time {
  height: 95%;
  display: flex;
  position: absolute;
  align-items: flex-end;
  z-index: 999;
}
.time p{
  font-size: 13px;
}

.question {
  margin-top: 5px;
}

.question a {
  display: flex;
  gap: 3px;
}

.question a img {
  width: 7%;
}

.results .question a span {
  color: #8F8F8F;
}

.downloadButton {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.downloadButton button {
  background-color: #fff;
  border-radius: 8px;
  text-decoration: underline;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  width: fit-content;
  min-width: 100px;
  color: #F6A731;
  margin-top: 5px;
  display: flex;
  align-items: center;
  gap: 3px;
}

.downloadButton button img {
  width: 18%;
}


.graphic-info, .graphic-info-plane {
  font-size: 12px;
  font-weight: 500;
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-width: fit-content;
}

.inputs-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media screen and (max-width: 1100px) {
  .graphic-info, .graphic-info-plane {
    flex-direction: row;
    width: 100%;
    align-items: end;
    flex-wrap: wrap;
  }

  .inputs-wrapper {
    flex-direction: row;
  }

  .graphic-info-item, .graphic-info-item-plane {
    width: 100%;
  }
}

.graphic-info p, .graphic-info-plane p {
  text-align: center;
  font-size: 12px;
  margin-bottom: 5px;
}

.graphic-info input, .graphic-info-plane input {
  border-radius: 8px;
  padding: 8px 12px;
  background: #FFF;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.146);
  text-align: center;
  width: 100%;
}

.graphic-info-plane .buttons-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

@media screen and (max-width: 1100px) {
  .graphic-info-plane .buttons-wrapper {
    flex-direction: row;
  }
}

.graphic-info button, .graphic-info-plane button {
  border-radius: 8px;
  background: #F6A731;
  display: flex;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  width: 100%;
  min-width: 140px;
}

.graphic-info-plane button {
  gap: 5px;
}

.graphic-info button:hover, .graphic-info-plane button:hover {
  background-color: #e79d30;
}

#button-simulator-pause {
  background-color: #F0C940;
}

#button-simulator-pause:hover {
  background-color: #ddb939;
}

#button-simulator-reset {
  background-color: #BEC5EB;
}

#button-simulator-reset:hover {
  background-color: #abb2d6;
}

#canvas-plane {
  width: calc(100% - 20px);
  aspect-ratio: 3/1.3;
  border-radius: 12px;
  display: flex;
  justify-content: center;
}

#object {
  width: 60px;
  height: 60px;
  background-color: #F6A731;
  transform-origin: bottom center;
  margin-left: 40%;
  margin-top: -60px;
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;
}

#slope {
  width: 200%;
  height: 140%;
  background-color: #E2E2E2;
  position: absolute;
  bottom: 0;
  transform-origin: top center;
  transform: rotate(15deg);
  margin-bottom: -50%;
  z-index: 10;
}

#path {
  position: absolute;
  width: 0;
  border-top: 2px dashed #FFE0B1;
  margin-left: 40%;
  margin-top: -60px;
}

.align-object {
  display: flex;
  align-items: center;
  gap: 10px;
}

.align-object svg {
  margin-left: 40%;
  margin-top: -60px;
  padding-right: 2px;
}

/* HOME */

#home {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #A0ACE9;
  overflow-x: hidden;
}

#home .title-home {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: end;
  padding: 80px 140px 0 0;
  z-index: 20; 
  gap: 20px;
}

@media screen and (max-width: 1000px) {
  #home .title-home {
    justify-content: center;
    padding: 140px 40px 0;
  }
}

#home .title-home div {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 100%;
}

@media screen and (max-width: 1000px) {
  #home .title-home div {
    align-items: center;
  }
}

#home .title-home h1 {
  font-size: 80px;
  letter-spacing: 24px;
  font-weight: 600;
  line-height: 90px;
  text-shadow: 4px 4px 0px #FFF;
}

@media screen and (max-width: 1000px) {
  #home .title-home h1 {
    text-align: center;
    font-size: 44px;
    line-height: 48px;
    letter-spacing: 12px;
    text-shadow: 2px 2px 0px #FFF;
  }
}

#home .title-home a {
  border-radius: 8px;
  background-color: #4D5EBA;
  padding: 8px 12px;
  width: 350px;
  max-width: 100%;

  color: #FFF;
  font-size: 24px;
  letter-spacing: 4px;
  font-weight: 500;
  text-align: center;

  margin-top: 10px;
}

#home .title-home a:hover{
  background-color: #5a6cd3;
}

#home img {
  position: absolute;
  width: 890px;
  bottom: 0;
}

@media screen and (max-width: 1000px) {
  #home img {
    filter: opacity(0.3);
  }
}